<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>I am an IT professional with high motivation and drive for success. My focus is on software
                  development, however I handle web design and troubleshooting. I am knowledgeable in various
                  programming languages, web technology, development tools and databases. I keep myself updated
                  with techniques which contribute to my professional growth.</p>
              <p>I have the ability to effectively classify and evaluate opportunities for process and technology
                  improvements, as well as identify, define and design workflows on process modelling. I possess
                  experience in data gathering for the purpose of business analysis and defining project scope and
                  working knowledge of processes like Agile in order to provide quality output.
                  My innate interest in the complex, coupled with my training and aspiration for continuous
                  development, I am confident in my abilities to make a meaningful contribution to my chosen field</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                <div class="col-sm-8">ronakparikh@gmail.com</div>
              </div>
              <br>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                <div class="col-sm-8">+64-224158253</div>
              </div>
              <br>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                <div class="col-sm-8">27 Union Street New Zealand</div>
              </div>
              <br>
              <div class="row mt-3">
                <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                <div class="col-sm-8">English,Hindi,Gujarati,Chinese</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>