
  <!-- EXPERIANCE START-->
  <div class="section" id="experience">
    <div class="container cc-experience">
      <div class="h4 text-center mb-4 title">Work Experience</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>Present</p>
              <div class="h5">Bow Length</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Junior Software Developer-Internship</div>
              <p>Currently working on AngularJs, Html, Css,Jquery,Boostrape,PHP and so on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>2018</p>
              <div class="h5">ON CALL MARKETING</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Web Designer & Developer</div>
              <p>Performed website flow testing and evaluation for optimisation and troubleshooting purposes; addressed coding and functionality issues and ensured full website functionality.</p>
              <p>Developed web applications using C#, ASP.Net MVC, AngularJS, HTML, CSS, JavaScript and arranged the relational data structure using Entity Framework.</p>
              <p>Performed unit testing on .Net scripting and logical process syntax using NUnit framework.</p>
              <p>Composed test scripts and stored procedures using SQL for review of data consistency and database integrity tests. </p>
              <p>Reviewed coded scripts and validated them to ensure accurate formatting and adherence to development conventions.</p>
              <p>Documented system features and specifications and maintained system functionality once it went live. </p>
              <p>Performed on SaaS software and trouble-shooter in software and hardware’s
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p>2013-2015</p>
              <div class="h5">YUKON TECHNOLOGIES</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Junior Software Developer</div>
              <p>Performed website flow testing and evaluation for optimisation and troubleshooting purposes; addressed coding and functionality issues and ensured full website functionality.</p>
              <p>Developed web applications using C#, ASP.Net MVC, AngularJS, HTML, CSS, JavaScript and arranged the relational data structure using Entity Framework.</p>
          <p>Performed unit testing on .Net scripting and logical process syntax using NUnit framework.</p>
          <p>Composed test scripts and stored procedures using SQL for review of data consistency and database integrity tests. </p>
          <p>Reviewed coded scripts and validated them to ensure accurate formatting and adherence to development conventions.</p>
          <p>Documented system features and specifications and maintained system functionality once it went live. </p>
          <p>Performed on SaaS software and trouble-shooter in software and hardware’s</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--EXPIRIENCE FINISH-->
  
  <!--EDUCATION START-->
  <div class="section">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017-2019</p>
              <div class="h5">Graduate Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Graduate Business with Information Technology</div>
              <p class="category">KIWI INSTITUTE AND TECHNOLOGY</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2017</p>
              <div class="h5">Graduate Information Technology</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Information And Technology </div>
              <p class="category">Royal Business College</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2013</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Computer Science</div>
              <p class="category">SOUTH GUJARAT UNIVERSITY</p>
              <p>Project: “Electronic Health Record” (E.H.R.), an internet enabled integrated portal designed and developed to monitor and control various activities being carried out for Human Health Information Record. For this project, technology utilised was ASP.net, Sql, C#, Ajax tools, Html, JavaScript, JQuery, .Net, and Framework 4.5.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="reference">
    <div class="container cc-reference">
      <div class="h4 mb-4 text-center title">References</div>
      <div class="card" data-aos="zoom-in">
        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
            <li data-target="#cc-Indicators" data-slide-to="1"></li>
            <li data-target="#cc-Indicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            
            
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-2 col-md-3 cc-reference-header"><img src="assets/images/reference-image-3.gif" alt="Image"/>
                  <div class="h5 pt-2"></div>
                  <p class="category">Available on Request</p>
                </div>
                <div class="col-lg-10 col-md-9">
                  <p> Available on Request</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>