<div class="section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="h4 text-center mb-4 title">Portfolio</div>
          <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary" role="tablist">
              <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-content gallery mt-6">
        <div class="tab-pane active" id="web-development">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.yds.org.nz/">
                    <figure class="cc-effect"><img src="assets/images/Youth-Devine-society.png" alt="Image"/>
                      <figcaption>
                        <div class="h4"></div>
                        <p></p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="http://swasthyachetna.com/">
                    <figure class="cc-effect"><img src="assets/images/swasthyachetna.png" alt="Image"/>
                      <figcaption>
                        <div class="h4">Swasthya Chetna</div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure></a></div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="http://www.varnidigital.in/">
                    <figure class="cc-effect"><img src="assets/images/Varni-Digital.png" alt="Image"/>
                      <figcaption>
                        <div class="h4">Varni Digital</div>
                        <p></p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://www.havishinternationals.com/">
                    <figure class="cc-effect"><img src="assets/images/Havish-International.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Havish International</div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure></a></div>
                 <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="https://yukontechnologies.com/">
                    <figure class="cc-effect"><img src="assets/images/youkon.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Youkon Technologies</div>
                        <p>Web Development</p>
                      </figcaption>
                    </figure></a></div>
  
  
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="graphic-design" role="tabpanel">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                    <figure class="cc-effect"><img src="assets/images/graphic-design-1.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Triangle Pattern</div>
                        <p>Graphic Design</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                    <figure class="cc-effect"><img src="assets/images/graphic-design-2.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Abstract Umbrella</div>
                        <p>Graphic Design</p>
                      </figcaption>
                    </figure></a></div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                    <figure class="cc-effect"><img src="assets/images/graphic-design-3.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Cube Surface Texture</div>
                        <p>Graphic Design</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                    <figure class="cc-effect"><img src="assets/images/graphic-design-4.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Abstract Line</div>
                        <p>Graphic Design</p>
                      </figcaption>
                    </figure></a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="Photography" role="tabpanel">
          <div class="ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="assets/images/photography-1.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Photoshoot</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="assets/images/photography-3.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Wedding Photoshoot</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
              </div>
              <div class="col-md-6">
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="assets/images/photography-2.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Beach Photoshoot</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
                <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                    <figure class="cc-effect"><img src="assets/images/photography-4.jpg" alt="Image"/>
                      <figcaption>
                        <div class="h4">Nature Photoshoot</div>
                        <p>Photography</p>
                      </figcaption>
                    </figure></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--PORTFOLIO FINISH-->
  